<div class="wrapper">
  <h3>Login</h3>
  <form [formGroup]="authForm" (ngSubmit)="authForm.valid && onSubmit()" class="login-form">
    <mat-form-field [style.width.px]=304 class="login-full-width">
      <mat-label>Login</mat-label>
      <input matInput placeholder="Login..." formControlName="login">

      <span
      class="alert-validation"
      *ngIf="login?.errors?.['required'] && isTouched(login)"
    >
    Please enter a login email
    </span>
    <span
      class="alert-validation"
      *ngIf="login?.errors?.['email'] && isTouched(login)"
    >
    The login email is invalid
    </span>
    </mat-form-field>

    <mat-form-field [style.width.px]=304 class="login-full-width">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password..." formControlName="password">

      <span
      class="alert-validation"
      *ngIf="password?.errors?.['required'] && isTouched(password)"
    >
    Please enter a password
    </span>
    <span
      class="alert-validation"
      *ngIf="(password?.errors?.['minlength'] || password?.errors?.['pattern']) && isTouched(password)"
    >
    Your password isn't strong enough.
   It should contain at least 8 characters, uppercase and lowercase letters, numbers and special character (e.g., !@#?])
    </span>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">Login</button>
  </form>
</div>
