@import "./../../../../../styles.scss";

:host {
}

div {
  @include flex;
  column-gap: 3px;
}

.icon {
  background-image: url("../../../../../assets/card-assets/viewed.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 13px;
}
