@import "./../../../../../src/styles.scss";


:host {
  width: 433px;
border-radius: 17px;
background-color: #F2F2F2;
@include flex(center, center);
margin: 50px;
padding: 40px;
}

.wrapper {
  @include flex(start, center, column);
  row-gap: 25px;

  .input-area {
    @include flex(start, center, column);
    row-gap: 15px;
  }
}

h3 {
  @include font(#000000, 'Roboto', normal, 700, 22px, 27px);
}

form {
  @include flex(start, center, column);
}
button {
  max-height: 30px;
  width: 124px;
  margin-top: 20px;
  border-radius: 4px 4px 4px 4px;
  @include font(#FFFFFF);
  filter: drop-shadow(2px 0px 4px #2F80ED);
  align-self:flex-end;

}
.alert-validation {
  @include font(red, 'Roboto', normal, 400, 10px, 0);
}

.mdc-button {
  background-color: $colorBlue !important;
  color: #FFFFFF;
}

.alert-validation {
  width: 100%;
  color: red;
  font-size: 10px;
  margin: 0;
}

.mdc-line-ripple::before .mdc-line-ripple::after {
  display: none !important;
}

.mat-mdc-form-field-bottom-align {
  width: 0;
}
