<div class="wrapper">
  <h3>Create new card</h3>
  <form [formGroup]="newCardForm" (ngSubmit)="newCardForm.valid && createCard()" class="new-card">

      <mat-form-field [style.width.px]=380 class="card-full-width">
        <mat-label>Title</mat-label>

        <input matInput placeholder="" formControlName="title">

        <span class="alert-validation" *ngIf="title?.errors?.['required'] && (title.dirty || title.touched)">
          Please enter a title
        </span>
        <span class="alert-validation" *ngIf="title?.errors?.['minlength'] && (title.dirty || title.touched)">
          The title is too short
        </span>
        <span class="alert-validation"*ngIf="title?.errors?.['maxlength'] && (title.dirty || title.touched)">
          The title is too long
        </span>

      </mat-form-field>
      <mat-form-field [style.width.px]=380 class="card-full-width">
        <mat-label>Description</mat-label>
        <input matInput placeholder="" formControlName="description">
        <span class="alert-validation"*ngIf="description?.errors?.['maxlength'] && (description.dirty || description.touched)">
          The description is too long
        </span>

      </mat-form-field>
      <mat-form-field [style.width.px]=380 class="card-full-width">
        <mat-label>Image</mat-label>
        <input matInput placeholder="" formControlName="image">
        <span class="alert-validation" *ngIf="image?.errors?.['required'] && (image.dirty || image.touched)">
          Please enter a link to the image
        </span>
        <span class="alert-validation"*ngIf="image?.errors?.['pattern'] && (image.dirty || image.touched)">
          The image link is invalid
        </span>
      </mat-form-field>

      <mat-form-field [style.width.px]=380 class="card-full-width">
        <mat-label>Video link</mat-label>
        <input matInput placeholder="" formControlName="videoURL">
        <span class="alert-validation" *ngIf="videoURL?.errors?.['required'] && (videoURL.dirty || videoURL.touched)">
          Please enter a link to the video
        </span>
        <span class="alert-validation" *ngIf="videoURL?.errors?.['pattern'] && (videoURL.dirty || videoURL.touched)">
          The video link is invalid
        </span>
      </mat-form-field>

      <mat-form-field [style.width.px]=380 class="card-full-width">
        <mat-label>Creation date</mat-label>
        <input matInput placeholder="" formControlName="date" type="date">
        <span class="alert-validation" *ngIf="date?.errors?.['required'] && (date.dirty || date.touched)">
          Please enter a creation date
        </span>
        <span class="alert-validation" *ngIf="date?.errors?.['dateIsInvalid'] && (date.dirty || date.touched)">
          The date is invalid
        </span>
      </mat-form-field>


    <button mat-raised-button type="submit" color="primary" (click)="createCard()">Create card</button>
  </form>
</div>
