@import "./../../../../../styles.scss";

:host {
  height: 24px;
  width: 24px;
}

button {
  width: 24px;
  height: 24px;
  border-radius: 5px !important;
  background-color: $colorBlue;
  border: none;
  filter: drop-shadow(2px 2px 4px rgba(47, 128, 237, 0.25));

  .icon {
    background-image: url("../../../../../assets/settings.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
