@import "@src/styles.scss";

.card-container{
  @include flex(center, space-between, column);
  padding: 20px 15px;
  background-color: $bgd;
  width: 263px;
  height: 327px;
  border-radius: 5px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}

.statistic-container {
  display: flex;
  column-gap: 10px;
}

.blue {
  border-bottom: 5px solid $colorBlue;
}

.green {
  border-bottom: 5px solid #27AE60;
}

.red {
  border-bottom: 5px solid #EB5757;
}

.yellow {
  border-bottom: 5px solid #F2C94C;
}
