@import "./../../../styles.scss";

:host {
  max-height: 50px;
  width: 100%;
  @include flex(center, baseline);
  padding-left: 700px;
  background-color: $bgd;
}

p {
  @include font(#929292);
  margin: 0;
}
