/* You can add global styles to this file, and also import other style files */


@mixin font ($color, $family: 'Roboto', $style: normal, $weight: 400, $size: 12px, $heigth: 14px) {
  font-weight: $weight;
  font-size: $size;
  line-height: $heigth;
  color: $color;
  font-family: $family;
  font-style: $style;
}

@mixin flex ($align: center, $justify: center, $direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; @include flex}

$colorBlue: #2F80ED;
$bgd: #E5E5E5;

main {
  width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
