@import "./../../../../styles.scss";

:host {
  height: 24px;
  width: 24px;
  @include flex;
  margin-left: 190px;
}

div {
  min-width: 60px;
  @include font(#4F4F4F);
}

button {
  @include flex;
  width: 24px;
  height: 24px;
  border-radius: 5px !important;
  background-color: #FFFFFF;
  border: none;
  // background-color: $colorBlue;
  filter: drop-shadow(2px 2px 4px rgba(47, 128, 237, 0.25));

  .login-icon {
    background: url("../../../../assets/login.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }
}
