@import "./../../../../../styles.scss";

:host {
  height: 80px;
  @include flex;
  margin-left: 130px;
  column-gap: 5px;
}

p {
  @include font(#4F4F4F);
  margin: 0;
}

.login-info {
  @include flex;
  flex-direction: column;
  row-gap: 3px;
}

.admin-button {
  text-decoration-line: underline;
  @include font($colorBlue);
  text-decoration-line:none;
  height: 20px;
}

.login-button {
  @include font(#4F4F4F);
  @include flex;
  width: 24px;
  height: 24px;
  border-radius: 5px !important;
  background-color: #FFFFFF;
  border: none;
  filter: drop-shadow(2px 2px 4px rgba(47, 128, 237, 0.25));

  .login-icon {
    background: url("../../../../../assets/login.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }

  .bold {
    font-weight: 900;
    font-size: 20px;
    // color: red;
  }
}
